<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Página de login</title>
</head>
<body>
    
<section id = "cabecalhoPag" >
<header>
    <div class = "conteudoCabecalho">
    <div id = "logoIcon">
        <i class="fa-solid fa-money-check-dollar fa-3x"></i>
    </div>

    <nav class="aCabecalho">
        <a class = "textoCabecalho" href="#sobreH1">Sobre</a>
        <a class = "textoCabecalho" href="#parceirosH1">Parceiros</a>
        <a class = "textoCabecalho" href="#carreirasH1">Carreira</a>
        <a class = "textoCabecalho" href="#contatosH1">Contato</a>
    </nav>
</header>
</section>

<section class = "loginPag">
    <div><h1 id="title">ESG Bank</h1></div>

<div class="top-page">
    <div>
        <h2 id = "h2inicio"> <b>O melhor banco, de transações e investimentos para você!</b>
        </h2>
    </div>

<div class="login">
    <form class = "elementslogin" action="login">
        <div id = "iconLogin"class="fa-3x fa-stack">
            <i class="far fa-circle fa-stack-2x" ></i>
            <i class="fa-solid fa-user fa-stack-1x"></i>
        </div>
<div>
    <label for="user">
    Username or email address:
    </label>
    <input type="text" id="user" required>
</div>

   <div>
     <label for="password">
        <br> Password: <br>
    </label>
    <input type="password" id="password" required>
    </div>
    <div class = "newAccount">
        New to ESG Bank?
    <a href="Teste.com">Create an account.</a>
    <div id="button">
        <button  class="botao" id = "button1" type="submit"> Login </button>
    </div>
    </form>
    </div>
</div>
</div>
</section>

<section class = "sobrePag">
<div class="sobre">
<br>
        <h1 id="sobreH1">Sobre</h1>

    <div class="conteudoSobre">
        <div>
            <img id = "empresa" src="/view/img/empresa.jpg" alt="">
        </div>
        <div id = "textoSobre">
            O ESG Bank é um banco multinacional com sede em diversos locais do Brasil e do mundo, começou com um simples projeto de faculdade em 2023, atingindo o inimaginável, através do desempenho de toda a equipe e do CEO da ESG Bank: Eric Silveira Gomes!
            <br>
            <br>
            Atualmente trabalhamos com transações bancárias, investimentos, conversões de moedas, ofertas e muito mais!
        </div>
    </div>
</div>
</section>

<section class="parceirosPag">
<div class="parceiros">
    <br>
    <h1 id="parceirosH1">Parceiros</h1>

    <div class="conteudoParceiros">
        <div id = "textoParceiros">
            O ESG Bank apresenta uma ampla rede de contatos com big techs e multinacionais, devido a sua credibilidade, qualidade na prestação de serviços e participações nos eventos.
            <br>
        </div>
        <div class="imgs">
            <img id = "google" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_light_color_272x92dp.png" alt="google">
            <img id ="facebook"src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="facebook">
            <img id = "instagram" src="https://logosmarcas.net/wp-content/uploads/2020/04/Instagram-Logo.png" alt="instagram">
        </div>
    </div>
</div>
</section>

<section class = "carreirasPag">
<div class="carreiras">
<br>

    <h1 id="carreirasH1">Carreiras</h1>

    <div class="conteudoCarreiras">
        <div>
        <img id = "empresa" src="https://www.famart.edu.br/wp-content/uploads/2021/03/A-import%C3%A2ncia-do-crescimento-pessoal-e-profissional-e1632840401547.jpg" alt="crescimentoProfissional">
        </div>
        <div id = "textoCarreiras">
            Nossa empresa tem diversas áreas, sendo as principais de programação, administrativas, RH, mas ainda assim, a muito a descobrir conosco, atualmente estamos com processo aberto para:
            <br>
            <div class = "listas">
            <div>
            <ul>
            <li>Trainee</li>
            <li>Estagiário</li>
            <li>Junior</li>
            <li>Pleno</li>
            </ul>
            </div>
            <div id="divLista">
            <ul>
            <li>Sênior</li>
            <li>Tech Lead</li>
            <li>Gerente de projetos</li>
            </ul>
            </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="contatosPag">
    <div class="contatos">
<br>
        <h1 id="contatosH1">Contatos</h1>

    <div class="conteudoContatos">
        <div id = "textoContatos">
            Para mais contatos com a nossa empresa:
            <div>
                <div>
                <i class="fa-solid fa-envelope"></i>
                silveirames@hotmail.com ou es9694649@gmail.com
                </div>
                <div>
                <i class="fa-solid fa-phone"></i>
                <b><a id = "linkWpp" href="https://api.whatsapp.com/send?phone=5561996169283&text=Ol%C3%A1%20Eric!%20Vim%20pela%20ESG!" target = "_blank">(61) 996169283</a></b>
                </div>
                
                <i class="fa-solid fa-location-dot"></i>
                Localização do Campus onde estudo:
                <br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.458890000567!2d-48.048882176159395!3d-15.989609953523122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a2a8c49ce3677%3A0x447f05b6f05fa281!2sUniversidade%20de%20Bras%C3%ADlia%20-%20Campus%20Gama!5e0!3m2!1spt-BR!2sbr!4v1677630585406!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <br>
        </div>
        <footer class="footer">
            © Eric Silveira Gomes
        </footer>
    </div>
</div>
</section>



</body>
</html>